.products br.sp {
    display: none;
}

.products .ft_noto {
  font-family: noto-sans-cjk-jp, sans-serif;
}

@media (max-width: 767px) {
  .products br.sp {
      display: block;
  }
  .mv .mv_text-box {
    width: 100%;
  }
  .mv .mv_texts_h1 {
      font-size: 36px;
      line-height: 1.4;
  }
}

@media (max-width: 992px) {

  .mv .mv_text-box {
      bottom: auto;
      top: 38vw;
  }

}
.products_pr {
  padding: 230px 0;
}

.products_pr_column_up {
  margin-bottom: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products_pr_column_up > div {
    order: 2;
}

.products_pr_column_up figure {
  margin-right: 160px;
  width: 596px;
  order: 1;
}

.products_pr_column_up h2 {
  font-size: 24px;
  line-height: 1.8;
}

.products_pr_column_up h2.eng {
  margin: 40px 0 50px;
  font-size: 64px;
  line-height: 1.2;
  font-family: athelas, serif;
}

.products_pr_column_up h3 {
  font-size: 30px;
  line-height: 1.5;
}

.products_pr_column_bottom {
  display: flex;
  justify-content: center;
}

.products_pr_column_bottom p {
  margin-right: 240px;
  width: 124px;
}

.products_pr_column_bottom figure {
  width: 400px;
  position: relative;
}

.mq_text {
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 130px;
  line-height: 110px;
  display: flex;
  overflow: hidden;
  margin-top: -45px;  
}

.mq_text p {
  margin: 0 0.3em;
  letter-spacing: 15px;
  flex: 0 0 auto;
  white-space: nowrap;
  animation: infinity-scroll-left 90s infinite linear 0.5s both;
}

@media (max-width: 767px) {

  .products_pr {
    padding: 120px 0 170px;
  }
  
  .products_pr_column_up {
    margin-bottom: 50px;
    display: block;
  }
  
  .products_pr_column_up figure {
    margin-right: 70px;
    width: auto;
  }

  .products_pr_column_up > div {
    margin: 0 0 60px 20px;
  }

  .products_pr_column_up h2 {
    font-size: 22px;
    line-height: 1.6;
  }
  
  .products_pr_column_up h2.eng {
    margin: 35px 0;
    font-size: 32px;
    line-height: 1.4;
  }
  
  .products_pr_column_up h3 {
    font-size: 20px;
    line-height: 1.8;
  }
  
  .products_pr_column_bottom {
    display: block;
  }
  
  .products_pr_column_bottom p {
    margin: 0 0 105px 20vw;
    width: 100px;
  }
  
  .products_pr_column_bottom figure {
    margin: 0 40px;
    width: auto;
  }
  
  .products_pr_column_bottom figure::after {
    width: 120px;
    height: 110px;
    top: -90px;
    right: 0;
    left: 0;
    margin: auto;
    background: url(/shared/img/index/concept/anime_all-in.gif) no-repeat;
    background-size: 120px auto;
  }
  
  .mq_text {
    font-size: 70px;
    line-height: 60px;
    margin-top: -10px;  
  }

}

.products_feature {
  padding: 175px 0 110px;
  background: #fff;
  text-align: center;
}

.products_feature h2 {
  margin: 0 0 45px;
  text-align: center;
  color: #fff;
  font-size: 36px;
}

.products_feature h2 span {
  margin-bottom: 30px;
  display: block;
  -webkit-text-stroke: 1px #666;
  font-size: 24px;
  color: transparent;
  letter-spacing: 2.4px;
}

.products_feature > p {
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  max-width: 960px;
  text-align: left;
  line-height: 2;
}

.products_feature > p span { 
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.products_feature ul {
  margin: 70px auto 110px;
  max-width: 1120px;
}

.products_feature li {
  margin: 0 0 60px;
  color: #fff;
  display: flex;
  text-align: left;
}

.products_feature li .title_cnt {
  margin-right: 55px;
  writing-mode: vertical-lr;
  font-family: athelas, serif;
  font-size: 18px;
}

.products_feature li .title_cnt span {
  padding: 4px 0 0 2px;
  font-size: 24px;
  letter-spacing: 0.05em;
  display: inline-block;
}

.products_feature li h3 {
  margin: 0 0 25px;
  font-family: athelas, serif;
  font-size: 36px;
  line-height: 1.4;
}

.products_feature li p {
  font-size: 16px;
  line-height: 2;
}

.products_feature li figure {
  margin: 0 80px;
  width: 480px;
  flex-shrink: 0;
}

.products_feature > h3 {
  font-size: 36px;
  color: #fff;
}

@media (max-width: 767px) {

  .products_feature {
    padding: 120px 20px 90px;
  }
  
  .products_feature h2 {
    margin: 0 0 65px;
  }
  
  .products_feature h2 span {
    margin-bottom: 15px;
  }
  
  .products_feature p {
    font-size: 16px;
    max-width: inherit;
  }
  
  .products_feature ul {
    margin: 120px auto 80px;
    max-width: inherit;
  }
  
  .products_feature li {
    margin: 0 0 70px;
    display: block;
  }
  
  .products_feature li .title_cnt {
    margin: 0 0 10px;
    writing-mode: inherit;
    font-size: 16px;
  }
  
  .products_feature li .title_cnt span {
    padding-left: 5px;
  }
  
  .products_feature li h3 {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 1.5;
  }
  
  .products_feature li figure {
    margin: 30px 0 0;
    width: auto;
  }
  
  .products_feature > h3 {
    font-size: 30px;
    line-height: 1.6;
  }

}

.products_item {
  padding: 140px 0;
  text-align: center;
}

.products_item h2 {
  font-size: 36px;
}

.products_item h2 span {
  margin-bottom: 20px;
  -webkit-text-stroke: 1px #000;
  font-size: 24px;
  color: transparent;
  letter-spacing: 2.4px;
  display: block;
}

.products_item_column {
  margin: 70px auto;
  display: flex;
  max-width: 1060px;
 justify-content: space-between; 
}

.products_item_column dl {
  margin: 0;
  background: rgba(255,255,255,0.8);
  width: 483px;
  height: 483px;
  border-radius: 50%;
}

.products_item_column dt {
  margin: 90px 0 20px;
}

.products_item_column dt {
  margin: 100px 0 20px;
  font-family: athelas, serif;
  font-weight: 100;
}

.products_item_column dt span {
  display: block;
}

.products_item_column dt span.en {
  opacity: 0.1;
  font-size: 60px;
  letter-spacing: 0.1em;
}

.products_item_column dt span.jp {
  padding-top: 3px;
  font-size: 28px;
}

.products_item_column .products_item_item dt {
  margin: 100px 0 0;
}

.products_item_column dd {
  margin: 0;
  font-size: 14px;
  line-height: 2.0;
}

.products_item_column dd figure {
  margin: 0 20px 20px;
}

.products_item_column .products_item_item dd figure {
  margin-bottom: 40px;
}

.products_item_link {
  margin: 0 auto;
  padding-left: 150px;
  display: inline-block;
}

.products_item_link a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.products_item_link .btn_arrow_box {
  width: 120px;
  margin-top: 14px;
}

.products_item_link .btn_arrow {
  margin-top: 20px;
}

.products_item_link .text {
  margin-right: 50px;
  text-align: center;
}

.products_item_link h4 {
  margin: 0 0 15px;
  font-family: athelas, serif;
  font-size: 36px;
}

.products_item_link h4 span.n {
  font-size: 54px;
}

.products_item_link p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 767px) {

  .products_item {
    margin: 0 auto 60px;
    padding: 100px 0;
  }
  
  .products_item h2 {
    margin: 0;
    font-size: 36px;
    line-height: 1.6;
  }
  
  .products_item h2 span {
    margin-bottom: 10px;
  }
  
  .products_item_column {
    margin: 35px 20px 10px;
    display: block;
    max-width: inherit;
  }

  .products_item_column dl {
    margin: 0;
    padding: 40px 0 80px;
    position: relative;
    width: auto;
    height: auto;
    background: url(/products/common/img/products_item_column_back.png) no-repeat center 0;
    background-size: 100% auto;
    background-color: inherit;
    border-radius: 0;
  }

  .products_item_column dt {
    margin: 0 0 20px;
  }
  
  .products_item_column dt {
    margin: 0 0 30px;
  }

  .products_item_column .products_item_item dt {
    margin: 0 0 20px;
  }
  
  .products_item_column dd {
    font-size: 14px;
  }
  
  .products_item_column dd figure {
    margin: 0 10px 20px;
  }
  
  .products_item_column .products_item_item dd figure {
    margin-bottom: 20px;
  }

  .products_item_link {
    padding-left: 0;
    display: block;
  }
  
  .products_item_link a {
    display: block;
  }
  
  .products_item_link .btn_arrow_box {
    width: auto;
  }
  
  .products_item_link .btn_arrow {
    margin-top: 20px;
  }
  
  .products_item_link .text {
    margin: 0 0 15px;
  }
  
  .products_item_link h4 {
    margin: 0 0 10px;
  }
 
}

.products_lineup {
  margin: 0 auto;
  padding: 160px 0;
  max-width: 1200px;
}

.products_lineup h2 {
  margin: 0 0 20px;
  font-size: 36px;
}

.products_lineup h2 span {
  margin: 0 0 20px;
  -webkit-text-stroke: 1px #000;
  font-size: 24px;
  color: transparent;
  letter-spacing: 2.4px;
  display: block;
}

.products_lineup > p {
  font-size: 14px;
}

.products_lineup ul {
  margin: 40px 0 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.products_lineup li {
  width: calc(50% - 40px);
}

.products_lineup li:first-child {
  margin-right: 80px;
}

.products_lineup li.product_care .lineup_box {
  background: #F2EEE9 url(/products/common/img/img_product_care.png) no-repeat right 20px center;
  background-size: 280px auto;
}

.products_lineup li.product_water .lineup_box {
  background: #9BBAC4 url(/products/common/img/img_product_water.png) no-repeat right center;
  background-size: 340px auto;
}

.products_lineup li.product_shoe .lineup_box {
  background: #B0C2B5 url(/products/common/img/img_product_shoe.png) no-repeat right 20px center;
  background-size: 355px auto;
}

.products_lineup li .lineup_box {
  height: 420px;
  display: flex;
  align-items: center;
}

.products_lineup li .lineup_box p {
  margin: 0;
  padding-left: 35px;
  font-family: athelas, serif;
  font-size: 30px;
  line-height: 1.6;
}

.products_lineup li h3 {
  margin: 30px 0 20px; 
  font-size: 14px;
  font-family: athelas, serif;
  text-decoration: underline;
}

.products_lineup li h4 {
  margin: 0 0 20px;
  font-size: 30px;
  font-family: athelas, serif;
}

.products_lineup li p {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 1.6;
}

.btn_more {
  font-size: 20px;
  font-family: athelas, serif;
  float: right;
}

.btn_more a {
  color: inherit;
  text-decoration: none;
}

.btn_more .btn_arrow_box {
  margin-left: 20px;
  width: 120px;
  display: inline-block;
}

.feature .btn_more {
  font-size: 16px;
  float: none;
  text-align: center;
  width: 246px;
  border: 1px solid #fff;
  padding: 10px;
}

.feature .btn_more .btn_arrow_box{
  width: 66px;
}

.feature .btn_arrow{
  color: #fff;
  background: #fff;
  width: 66px;
}

.feature .btn_arrow::before{
  border: 0.07em solid #fff;
  border-left: 0;
  border-bottom: 0;
}

@media (max-width: 767px) {

  .products_lineup {
    margin: 0 20px;
    padding: 150px 0 1px;
    max-width: inherit
  }
  
  .products_lineup h2 {
    margin: 0 0 15px;
    line-height: 1.4;
  }
  
  .products_lineup h2 span {
    margin: 0 0 15px;
  }
  
  .products_lineup ul {
    margin: 20px 0 0;
    display: block;
  }
  
  .products_lineup li {
    margin: 0 0 100px;
    width: auto;
    overflow: hidden;
  }
  
  .products_lineup li:first-child {
    margin-right: 0;
  }

  .products_lineup li.product_care .lineup_box {
    background-size: 210px auto;
  }
  
  .products_lineup li.product_water .lineup_box {
    background-size: 210px auto;
  }
  
  .products_lineup li.product_shoe .lineup_box {
    background-size: 250px auto;
    background-position: right bottom -10px;
  }
  
  .products_lineup li .lineup_box {
    height: 250px;
  }
  
  .products_lineup li .lineup_box p {
    padding-left: 20px;
    font-size: 17px;
  }
  
  .products_lineup li h3 {
    margin: 35px 0 20px; 
  }
  
  .products_lineup li h4 {
    margin: 0 0 15px;
    font-size: 20px;
  }
  
  .products_lineup li p {
    margin: 0 0 15px;
    font-size: 12px;
    line-height: 1.8;
  }
  
  .btn_more {
    font-size: 20px;
    float: none;
  }
  
  .btn_more .btn_arrow_box {
    margin-left: 10px;
    width: 70px;
  }

  .btn_more .btn_arrow,
  .btn_more a:hover .btn_arrow {
    width: 70px;
  }
  .feature .btn_more {
    width: 100%;
  }
}

.sec-how-to-buy .sub-e  span {
  margin-bottom: 15px;
  display: block;
  -webkit-text-stroke: 1px #666;
  font-size: 24px;
  color: transparent;
  letter-spacing: 2.4px;
}

.scroll-bg {
  transition: 1s;
}

.products_feature.scroll-bg.on-bg {
  background: #212121;
}

@keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
