.mv.faq {
  background-image: url(/shared/img/faq/mv_faq_pc.png);
}

.faq .contents {
  margin: 80px auto;
  display: flex;
  width: 1000px;
}
.faq .submenu {
  width: 240px;
  margin: 80px 40px 0 0;
}
.faq .submenu ul{
  list-style-type: none;
  font-size: 12px;
  font-family: athelas, serif;
}
.faq .submenu li a{
  color: #717171;
}
.faq .submenu li a:hover{
  color: #000;
  text-decoration: none;
}
.faq .main-contents {
  display: block;
  width: 720px;
}

.faq .texts-area {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 280px;
}

.faq .faq-texts {
  font-size: 20px;
  letter-spacing: 1.4px;
}

.faq .text-box:not(:last-child) {
  margin-bottom: 80px;
}

.faq h2{
  margin-top: 120px;
  margin-bottom: 40px;
  font-family: athelas, serif;
}

.faq h2:first-child{
  margin-top: 80px;
}

.faq .text-box p {
  line-height: 41px;
}

.faq .texts-area .container {
  position: absolute;
  top: 0;
}

.faq .texts-area .img-area {
  margin-top: 483px;
  padding: 10px;
}

.faq .title-area {
  text-align: center;
  margin-bottom: 200px;
}

.faq .text-padding {
  padding-left: 6%;
  padding-right: 6%;
}

.faq .block-area {
  display: flex;
  position: relative;
  line-height: 36px;
  margin-bottom: 300px;
}

.faq .block-area .text-box p {
  margin-bottom: 30px;
}

.faq .block-area .text-block-1 {
  position: absolute;
  width: 42%;
  top: 6%;
  left: 35px;
  margin-bottom: 0;
  min-width: 330px;
}

.faq .block-area .text-block-2 {
  position: absolute;
  width: 40%;
  right: 8%;
  bottom: 10%;
  margin-bottom: 0;
  min-width: 316px;
}

.faq .h3 {
  font-size: 34px;
  font-weight: bold;
  margin: 70px 0;
  letter-spacing: 2.74px;
}

@media (max-width: 767px) {
  .faq .contents {
    display: block;
    width: 100%;
    margin: 60px auto;
  }
  .faq .submenu {
    width: 90%;
    margin: 0 40px 0 40px;
    padding: 10px;
  }
  .faq .submenu li{
    line-height: 3em;
  }
  .faq .main-contents {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .faq h2{
    margin: 160px 10px 10px;
  }
  .faq .submenu li:before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-color:  transparent transparent #565656 #565656;
    transform: rotate(-45deg);
    margin: 0 5px 4px 0;
  }
}