.sec-top-h {
  position: relative;
}

/* slider */
.bx-wrapper {
  border: none;
  box-shadow: none;
  background: none;
  margin-bottom: 0;
}
.t-slider .slide-inner {
  text-align: center;
  /*height: 80vh;*/
  height: calc(100vh - 100px);
  position: relative;
}
.slide-item .sl-bg {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: calc(100vh - 100px);
}
.topics-box {
  position: absolute;
  left: 75px;
  bottom: 34px;
  color: #fff;
}

.topics-box .t {
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 14px;
}
.topics-box a {
  color: #fff;
  font-size: 14px;
}