
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn {
  border-radius: 0;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.text-center {
  text-align: center;
}

html,body {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1C1C1C;
}
header,main,footer  {
  overflow: hidden;
}
ul,ol {
  margin: 0;
  padding: 0;
}

main img {
  max-width: 100%;
}

.f-athelas { /* Athelas Regular */
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
}
.f-tenmin { /* 貂明朝 / Ten Mincho Regular  */
  font-family: ten-mincho, serif;
  font-weight: 400;
  font-style: normal;
}
.f-nimbus { /* Nimbus Sans Bold  */
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

main {
  margin-top: 99px;
  /* debug  */
  min-height: 900px;
}

@media (max-width: 992px) {
  main {
    margin-top: 80px;
  }
}

/* header  */
nav.nav-site {
  padding: 0;
  background: #fff;
}
.nav-site>.container-fluid {
  position: relative;
}
.nav-site .navbar-brand {
  padding-left: 35px;
}
.head-copy {
  text-align: center;
  margin: 0 auto;
  width: auto;
  font-size: 12px;
}
.header-btn .btn {
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
}
.navbar .btn-buy {
  background: #000;
  color: #fff;
  font-size: 18px;
}
.navbar .btn-menu {
  margin-right: -15px;
  font-size: 20px;
}

.nav-site .header-btn .btn {
  height: 100px;
  width: 140px;
}

@-webkit-keyframes hvr-back-pulse {
    50% {
        background-color: rgba(0,0,0,.75)
    }
}
@keyframes hvr-back-pulse {
    50% {
        background-color: rgba(0,0,0,.75)
    }
}
@keyframes hvr-back-pulse2 {
    50% {
        background-color: rgba(255,255,255,.75)
    }
}

.navbar .btn-buy.hvr-back-pulse:active,
.navbar .btn-buy.hvr-back-pulse:focus,
.navbar .btn-buy.hvr-back-pulse:hover {
   background-color: #fff;
   color: #000;
}
.navbar .btn-menu.hvr-back-pulse:hover {
  animation-name: hvr-back-pulse2;
  background-color: #000;
  color: #fff;
}

.navbar .btn.hvr-back-pulse:active,
.navbar .btn.hvr-back-pulse:focus {
  animation-name: none;
}

/* header nav menu content */
.nav-menu-tgg {
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
}
.buy-menu .inn {
  width: 280px;
}
.buy-menu .inn a {
  height: 110px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-menu .inn a:hover {
  text-decoration: none;
}
.buy-menu .inn .rakuten {
  background: #BF0000;
}
.buy-menu .inn .rakuten img {
  max-width: 81px;
}
.buy-menu .inn .amazon {
  background: #232F3E;
}
.buy-menu .inn .amazon img {
  max-width: 96px;
}
.buy-menu .inn .yahoo-sp img {
  max-width: 124px;
}
.main-menu {
  background: rgba(0, 0, 0, .8);
  color: #fff;
}
.main-menu .inn {
  width: 400px;
  height: calc(100vh - 90px);
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu ul {
  list-style: none;
}
.main-menu ul li {
  margin-bottom: 22px;
}
.main-menu a {
  color: #fff;
}
.main-menu .l1 {
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 32px;
}
.main-menu .sl {
  margin-top: 10px;
  font-size: 10px;
  line-height: 22px;
}
.main-menu .sns .l1 {
  position: relative;
  font-size: 18px;
  display: inline-block;
  padding-right: 54px;
}
.main-menu .sns .l1:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(../img/common/icon_instagram.svg);
  width: 22px;
  height: 22px;
}
.nav-site .main-menu .how-buy-content {
  display: none;
}

/* content  */
.ext-l {
  display: inline-block;
  position: relative;
}
.ext-l:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -24px;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(../img/common/btn_arrow_right_up.svg);
  width: 12px;
  height: 12px;
}

.sec-how-to-buy .ht-head {
  margin: 0 -15px;
}
.sec-how-to-buy .ht-head {
  color: #fff;
  background: #212121;
  padding-top: 90px;
  padding-bottom: 60px;
}
.sec-how-to-buy .ht-head .row-tt {
  text-align: center;
}
.ht-head .row-tt h2 {
  font-family: athelas, serif;
}
.ht-head .row-tt h2 .n {
  font-size: 48px;
}
.ht-head .row-tt .st {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}
.sec-how-to-buy .shop-list>.row>div {
  padding: 0;
}
.sec-how-to-buy .shop-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  text-align: center;
  background: #fff;
}
.sec-how-to-buy .shop-list a.rakuten {
  background: #BF0000;
}
.shop-list .rakuten img {
  max-width: 172px;
}
.sec-how-to-buy .shop-list a.amazon {
  background: #232F3E;
}
.shop-list .amazon img {
  max-width: 256px;
}
.shop-list .yahoo-sp img {
  max-width: 296px;
}

/* footer  */
footer {
  background: #212121;
  color: #fff;
}
footer a,footer a:hover,
footer a:active,footer a:visited {
  color: #fff;
}
footer .f-visual {
  position: relative;
  text-align: center;
  font-family: athelas, serif;
  color: #fff;
  background-image: url(../img/common/bg_footer@2x.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 400px;
}
/*.f-visual .bg {
  max-width: 100%;
}*/
.f-visual .txt {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 3.9px;
}
footer .f-inner {
  position: relative;
  padding:190px 60px 40px;
}
.f-inner #gotop {
  position: absolute;
  top: 40%;
  right: 60px;
}

footer .foo-link .l-item {
  margin-bottom: 40px;
}
footer .foo-link .l1 {
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
}
footer .foo-link .l-item .sub {
  font-size: 12px;
  line-height: 24px;
  margin-top: 18px;
  margin-bottom: -4px;
}
.foo-link .l-contact:after {
  top: 7px;
  right: -40px;
}
.foo-link .l-item2 {
  padding-top: 50px;
}
.l-item2 .l-instagram {
  position: relative;
  padding-right: 55px;
}
.l-item2 .l-instagram:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(../img/common/icon_instagram.svg);
  width: 16px;
  height: 16px;
}
.foo-link .l-item2 .share {
  margin: 18px 0 40px;
}
.l-item2 .share>a,.l-item2 .share>span {
  display: inline-block;
}
.l-item2 .share>span {
  margin-right: 38px;
}
.l-item2 .share>.ic-tw {
  margin-right: 20px;
}


footer .f-btm {
  margin-top: 80px;
  font-size: 10px;
  line-height: 15px;
}
.f-btm .corp-site {
  margin-bottom: 15px;
}
.f-btm .corp-site a {
  position: relative;
  display: inline-block;
}
.f-btm .corp-site a:after {
  top: 2px;
  right: -20px;
}

@media (max-width: 1199px) {
  .f-inner #gotop {
    right: 20px;
  }
  .sec-how-to-buy .shop-list a {
    height: 300px;
  }
  .shop-list .rakuten img,
  .shop-list .yahoo-sp img {
    max-width: 60%;
  }
  .shop-list .amazon img {
    max-width: 70%;
  }
}

@media (max-width: 992px) {
  .nav-site .navbar-brand {
    padding-left: 0;
  }
  .nav-site .navbar-brand img {
    max-width: 190px;
  }
  .nav-site .header-btn .btn {
    height: 90px;
    width: 120px;
  }
  .navbar .btn:hover {
    animation-name: none;
  }
  .nav-menu-tgg {
    top: 90px;
  }
  main {
    margin-top: 89px;
  }

  footer .f-inner {
    padding: 160px 30px 40px;
  }
  footer .a-logo img {
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  .nav-center,
  .nav-site .header-btn .btn-buy {
    display: none;
  }
  .nav-site .navbar-brand {
    padding-left: 20px;
  }
  .nav-site .navbar-brand img {
    max-width: 136px;
  }
  .nav-site .header-btn .btn {
    height: 80px;
    width: 100px;
  }
  .navbar .btn-menu {
    margin-right: 0;
  }
  .nav-menu-tgg {
    top: 80px;
  }
  .nav-menu-tgg.main-menu {
    width: 100%;
    background: rgba(0, 0, 0, .7);
  }
  .nav-site .main-menu .inn {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 0 50px;
    justify-content: unset;
    position: relative;
  }
  .nav-site .main-menu ul {
    margin-bottom: 130px;
  }
  .nav-site .main-menu .how-buy-content {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .nav-site .how-buy-content .t {
    font-family: athelas, serif;
    text-align: center;
    margin-bottom: 14px;
  }
  .nav-site .row-buy {
    background: #fff;
    margin: 0;
  }
  .nav-site .row-buy>div {
    padding: 0;
  }
  .nav-site .row-buy a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
    background: #fff;
  }
  .nav-site .row-buy img {
    max-width: 100%;
  }
  .nav-site .row-buy .rakuten {
    background: #BF0000;
  }
  .nav-site .row-buy .rakuten img {
    max-width: 45px;
  }
  .nav-site .row-buy .amazon {
    background: #232F3E;
  }
  .nav-site .row-buy .amazon img {
    max-width: 66px
  }
  .nav-site .row-buy .yahoo-sp img {
    max-width: 84px;
  }

  main {
    margin-top: 79px;
  }

  main .sec-how-to-buy {
    background: #212121;
    padding-bottom: 160px;
  }
  .sec-how-to-buy .ht-head {
    padding-top: 150px;
    padding-bottom: 40px;
  }
  .sec-how-to-buy .ht-head .row-tt {
    margin-bottom: 0;
  }
  .sec-how-to-buy .shop-list>.row>div {
    padding: 0 20px;
  }
  .sec-how-to-buy .shop-list a {
    height: 280px;
  }
  .shop-list .rakuten img {
    max-width: 120px;
  }
  .shop-list .amazon img {
    max-width: 180px;
  }
  .shop-list .yahoo-sp img {
    max-width: 220px;
  }

  footer .f-visual {
    height: 600px;
  }
  .f-visual .txt {
    display: block;
    text-align: center;
    align-items: unset;
    justify-content: unset;
    font-size: 30px;
    line-height: 45px;
    top: 100px;
  }
  footer .f-inner {
    padding: 110px 40px 40px;
  }
  footer .col-logo {
    text-align: center;
    margin-bottom: 70px;
  }
  footer .f-col-link1 {
    display: none;
  }
  footer .foo-link .l1 {
    font-size: 30px;
    line-height: 30px;
  }
  .foo-link .l-item2 {
    padding-top: 0;
  }
  .f-col-link2 .share {
    display: none;
  }
  .l-item2 .l-instagram {
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
    padding-right: 45px;
  }
  .l-item2 .l-instagram:after {
    width: 25px;
    height: 25px;
  }
  .l-item2 .l-policy {
    display: inline-block;
    margin-top: 40px;
  }
  footer .share-sp {
    margin-top: 40px;
    text-align: center;
  }
  footer .share-sp .t {
    font-family: athelas, serif;
    margin-bottom: 20px;
  }
  .share-sp a img {
    width: 58px;
  }
  .share-sp .ic-fb {
    margin-left: 36px;
  }

  footer .f-btm {
    margin-top: 50px;
    text-align: center;
  }
}
@media (max-width: 360px) {
}

/* main-visual  */
.mv {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: calc(90vh - 100px);
}

.mv .container {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.mv .mv_text-box {
  color: #fff;
  margin-left: -10px;
}

.mv .mv_texts_h1 {
  font-size: 48px;
  letter-spacing: 2.4px;
  margin-bottom: 34px;
}

.mv .mv_texts_text {
  font-size: 20px;
  letter-spacing: 2.0px;
}

.sp-only {
  display: none;
}

.pc-only {
  display: block;
}

@media (max-width: 992px) {
  .sp-only {
    display: block;
  }
  
  .pc-only {
    display: none;
  }

  .mv {
    height: 95vh;
    position: relative;
  }

  .mv .container {
    display: block;
  }

  .mv .mv_text-box {
    position: absolute;
    margin: 0;
    bottom: calc(80px + 25px - 5vh);
  }

  .mv .mv_texts_h1 {
    margin-bottom: 20px;
  }
}
